---
layout: default
bodyClass: "page-basic"
---


<div class="page">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-8 order-2 order-md-1">
        <div class="content">{{content}}</div>
      </div>
      {% if page.design_image %}
      <div class="col-12 col-md-4 col-lg-4 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="design-image{% if page.intro_image_absolute %} design-image-absolute{% endif %}{% if page.design_image_hide_on_mobile %} design-image-hide-mobile{% endif %}" src="{{ page.design_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>
